    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    .calculator{
        width: 300px;
        margin:50px auto;
        background: grey;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .display {
        background: #201f1f;
        color: #fff;
        font-size: 3rem;
        padding: 15px;
        display:flex;
        align-items: center;
        justify-content: flex-end;
        border-radius: 10px;
        min-height: 60px;
    }

    .undo{
        display:flex;
    }
    .clear{
        text-align: center;
        padding: 11px 20px;
        font-size: 1.5rem;
        background: #e0e0e0;
        border: none;
        border-radius: 10px;
        cursor: pointer;

    }

    .backspace{
        
       text-align: center;
        margin-left: auto;
        padding: 11px 18px;
        font-size: 1rem;
        background: #e0e0e0;
        border: none;
        border-radius: 10px;
        cursor: pointer;

    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:10px;
    }

    button {
        padding: 10px;
        font-size: 1.5rem;
        background: #e0e0e0;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    .clear:hover, .backspace:hover, button:hover{
         background: #ccc;
    }